
<div class="row" >
  <div class="col-xs-12" >
    <img [src]="recipeDisplayed.imagePathUrl"
    alt= "{{recipeDisplayed.name}}"
    class="image-responsive"
    style="max-height: 300px;">
  </div>
  <div class="row">
    <div class="col-xs-12" *ngIf="recipeDisplayed.name">
      <h1>{{recipeDisplayed.name}}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="button-group">
      <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-expanded="false">
        Manage Recipe
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="onToShoppingList()" style="cursor: pointer;">To Shopping List</a>
        <a class="dropdown-item" href="#">Edit Recipe</a>
        <a class="dropdown-item" href="#">Delete Recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" *ngIf="recipeDisplayed.description">
    {{recipeDisplayed.description}}
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    Ingredients:
    <ul class="list-group"
    *ngFor = "let ingredient of recipeDisplayed.ingredients">
      <li class="list-group-item">
        {{ingredient.name}} ({{ingredient.amount}})
      </li>
    </ul>
  </div>
</div>
