<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text"
          id="name"
          class="form-control"
          ngModel
          name="name"
          required
          >

        </div>
        <div class="col-sm-2">
          <label for="amount">Amount</label>
          <input
          type="number"
          id="amount"
          class="form-control"
          ngModel
          name="amount"
          required
          [pattern]="'^[1-9][0-9]*$'"
          >
        </div>
      </div>
      <div class="row">

        <div class="col-xs-12">
          <button class="btn btn-success ml-1" type="submit" [disabled]="!f.valid" *ngIf="!editMode">Add</button>
          <button class="btn btn-success ml-1" type="submit" [disabled]="!f.valid" *ngIf="editMode">Edit</button>
          <button class="btn btn-danger ml-1" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary ml-1" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
